/* Footer main container */
.footer {
    background: #100226;
    color: #ffffff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Each column */
.footer-section {
    width: 30%;
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-section h3 {
    margin-bottom: 15px;
    font-size: 20px;
    border-bottom: 2px solid #555;
    display: inline-block;
    padding-bottom: 5px;
}

/* Links */
.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 8px 0;
}

.footer-section ul li a {
    color: #ddd;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #ffffff;
}

/* Social icons */
.social-icons a {
    display:block;
     margin: 8px 0;
     padding: 0px;
    color: #ddd;
    text-decoration: none;
}

.social-icons a:hover {
    color: #fff;
}

/* Bottom bar */
.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #444;
    margin-top: 20px;
}
