<section class="services-area">
    <div class="container">
        <h1>Our Services</h1>
        <div class="services-slider">
            <div class="service-card">
                <div class="service-img">
                    <img src="assets/logo/nest.png" alt="Cloud Solution">
                </div>
                <div class="service-content">
                    <h3><a href="assets/logo/nest.png">Cloud Solution</a></h3>
                    <p>Cutting-edge cloud solutions to transform your business operations and drive innovation.</p>
                    <a href="assets/logo/auto hub.png">Read More</a>
                </div>
            </div>

            <div class="service-card">
                <div class="service-img">
                    <img src="assets/logo/Devlopers.png" alt="Database Development">
                </div>
                <div class="service-content">
                    <h3><a href="https://technogrowth.com/services/database-design-and-development">Database Development</a></h3>
                    <p>Comprehensive database solutions to empower your business with efficient data management.</p>
                    <a href="assets/logo/enterprises.png">Read More</a>
                </div>
            </div>

            <div class="service-card">
                <div class="service-img">
                    <img src="assets/logo/enterprises.png" alt="IT Consultancy">
                </div>
                <div class="service-content">
                    <h3><a href="https://technogrowth.com/services/it-constultancy">IT Consultancy</a></h3>
                    <p>Expert IT consultancy services to maximize efficiency and growth for your business.</p>
                    <a href="https://technogrowth.com/services/it-constultancy">Read More</a>
                </div>
            </div>
             <div class="service-card">
                <div class="service-img">
                    <img src="assets/logo/godai.png" alt="IT Consultancy">
                </div>
                <div class="service-content">
                    <h3><a href="https://technogrowth.com/services/it-constultancy">IT Consultancy</a></h3>
                    <p>Expert IT consultancy services to maximize efficiency and growth for your business.</p>
                    <a href="https://technogrowth.com/services/it-constultancy">Read More</a>
                </div>
            </div>

            <!-- Add more service cards here -->
        </div>
    </div>
</section>
